<!DOCTYPE html>
<html>
  <head>
    <title>Gaia Sounds</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Gaia
        <img id="gaia-image" src="https://cdn.glitch.com/946d82fe-ef1f-4669-a084-f6f493a768ab%2Fearth_headphones.jpg?1511228766007">
        Sounds
      </h1>
    </header>
    <main>
    </main>
    <footer>
      <button id="load-playlist" type="button" onclick="getPlaylist()">
        More Sounds
      </button>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>